[submodule "dircolors"]
	path = dircolors
	url = https://github.com/lrezende/dircolors-solarized.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/lrezende/gnome-terminal-colors-solarized.git
